<a href="https://colab.research.google.com/github/DevendraaK/Machine-Learning-and-Deep-Learning-Projects-/blob/main/Imdb_Website.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
a=np.array([10,20,30,40,50])
print(a)

[10 20 30 40 50]

In [ ]:
data=pd.Series(a)
print(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
data=pd.DataFrame({'name':pd.Series(['a','b','c','d']),'age':pd.Series([10,20,30,40])})
data

  name  age
0    a   10
1    b   20
2    c   30
3    d   40

In [ ]:
data.columns

Index(['name', 'age'], dtype='object')

In [ ]:
data.shape

(4, 2)

In [ ]:
import pandas as pd
data=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data')
data.shape

(698, 11)

In [ ]:
data.dtypes

1000025     int64
5           int64
1           int64
1.1         int64
1.2         int64
2           int64
1.3        object
3           int64
1.4         int64
1.5         int64
2.1         int64
dtype: object

In [ ]:
data.head(10)

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4
5  1018099  1   1    1    1  2  10  3    1    1    2
6  1018561  2   1    2    1  2   1  3    1    1    2
7  1033078  2   1    1    1  2   1  1    1    5    2
8  1033078  4   2    1    1  2   1  2    1    1    2
9  1035283  1   1    1    1  1   1  3    1    1    2

In [ ]:
data.tail(10)

     1000025  5   1  1.1  1.2  2 1.3   3  1.4  1.5  2.1
688   654546  1   1    1    1  2   1   1    1    8    2
689   654546  1   1    1    3  2   1   1    1    1    2
690   695091  5  10   10    5  4   5   4    4    1    4
691   714039  3   1    1    1  2   1   1    1    1    2
692   763235  3   1    1    1  2   1   2    1    2    2
693   776715  3   1    1    1  3   2   1    1    1    2
694   841769  2   1    1    1  2   1   1    1    1    2
695   888820  5  10   10    3  7   3   8   10    2    4
696   897471  4   8    6    4  3   4  10    6    1    4
697   897471  4   8    8    5  4   5  10    4    1    4

In [ ]:
data.columns

Index(['1000025', '5', '1', '1.1', '1.2', '2', '1.3', '3', '1.4', '1.5',
       '2.1'],
      dtype='object')

In [ ]:
data.columns=['Shikhar Dhawan','Rohit Sharma','Virat Kohli','Lokesh Rahul','Sheyas Iyyer','Risabh Pant','Hardik Pandya','BHuveneshwra Kumar','Yuji Chahal','Kuldeep Yadav','Jaspreet Bumrah']
data.columns

Index(['Shikhar Dhawan', 'Rohit Sharma', 'Virat Kohli', 'Lokesh Rahul',
       'Sheyas Iyyer', 'Risabh Pant', 'Hardik Pandya', 'BHuveneshwra Kumar',
       'Yuji Chahal', 'Kuldeep Yadav', 'Jaspreet Bumrah'],
      dtype='object')

In [ ]:
data.head()

   Shikhar Dhawan  Rohit Sharma  ...  Kuldeep Yadav  Jaspreet Bumrah
0         1002945             5  ...              1                2
1         1015425             3  ...              1                2
2         1016277             6  ...              1                2
3         1017023             4  ...              1                2
4         1017122             8  ...              1                4

[5 rows x 11 columns]

In [ ]:
data.to_csv("breast_cancer_srm.csv")

In [ ]:
data = pd.read_csv("https://bit.ly/imdbratings")

In [ ]:
data.shape

(979, 6)

In [ ]:
data.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [ ]:
data.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [ ]:
data.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
data.head(20)

    star_rating  ...                                        actors_list
0           9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1           9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2           9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3           9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4           8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
5           8.9  ...  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
6           8.9  ...  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
7           8.9  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
8           8.9  ...  [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
9           8.9  ...  [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
10          8.8  ...  [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
11          8.8  ...  [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
12          8.8  ...  [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
13          8.8  ...    [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
14          8.8  ...  [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...
15          8.7  ...  [u'Matthew McConaughey', u'Anne Hathaway', u'J...
16          8.7  ...  [u'Jack Nicholson', u'Louise Fletcher', u'Mich...
17          8.7  ...  [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
18          8.7  ...   [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']
19          8.7  ...  [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...

[20 rows x 6 columns]

In [ ]:
data=pd.read_csv("https://bit.ly/imdbratings",nrows=100,usecols=[1,2,3])

In [ ]:
print(data)

                       title content_rating      genre
0   The Shawshank Redemption              R      Crime
1              The Godfather              R      Crime
2     The Godfather: Part II              R      Crime
3            The Dark Knight          PG-13     Action
4               Pulp Fiction              R      Crime
..                       ...            ...        ...
95             All About Eve       APPROVED      Drama
96                   Yojimbo        UNRATED     Action
97                 The Sting             PG     Comedy
98                  Rashomon        UNRATED      Crime
99                   Amadeus              R  Biography

[100 rows x 3 columns]

In [ ]:
data.columns

Index(['title', 'content_rating', 'genre'], dtype='object')

In [ ]:
data.head()

                      title content_rating   genre
0  The Shawshank Redemption              R   Crime
1             The Godfather              R   Crime
2    The Godfather: Part II              R   Crime
3           The Dark Knight          PG-13  Action
4              Pulp Fiction              R   Crime